/***************Tag Selectors ************/
body {
  margin: 0;
  background-color: #d1cebd;
}

h1{
  margin-top: 0;
}

hr {
  background-color: white;
  border-style: none;
  height: 2.5px;
  < !-- width: 1100px;
  -->
}

div {
  background-color: #f6eedf;
}

/***************Class Selectors ************/
.moebius {
  height: 500px;
}
